[submodule "CircularEconomy"]
	path = CircularEconomy
	url = git@github.com:SFICSSS16-CircularEconomy/CircularEconomy.git
[submodule "Biblio/DomainSpecific"]
	path = Biblio/DomainSpecific
	url = git@github.com:JusteRaimbault/DomainSpecific.git
[submodule "CityNetwork"]
	path = CityNetwork
	url = git@github.com:JusteRaimbault/CityNetwork.git
[submodule "EnergyPrice"]
	path = EnergyPrice
	url = git@github.com:JusteRaimbault/EnergyPrice.git
[submodule "MediationEcotox"]
	path = MediationEcotox
	url = git@github.com:JusteRaimbault/MediationEcotox.git
[submodule "RealEstate"]
	path = RealEstate
	url = git@github.com:JusteRaimbault/RealEstate.git
[submodule "UrbanGrowth"]
	path = UrbanGrowth
	url = git@github.com:JusteRaimbault/UrbanGrowth.git
[submodule "TransportationEquilibrium"]
	path = TransportationEquilibrium
	url = git@github.com:JusteRaimbault/TransportationEquilibrium.git
[submodule "Governance"]
	path = Governance
	url = git@github.com:JusteRaimbault/Governance.git
[submodule "Organisation"]
	path = Organisation
	url = git@github.com:JusteRaimbault/Organisation.git
[submodule "SimulationModels"]
	path = SimulationModels
	url = git@github.com:JusteRaimbault/SimulationModels.git
[submodule "Morphogenesis"]
	path = Morphogenesis
	url = git@github.com:JusteRaimbault/Morphogenesis.git
[submodule "Perspectivism"]
	path = Perspectivism
	url = git@github.com:JusteRaimbault/Perspectivism.git
[submodule "Misc"]
	path = Misc
	url = git@github.com:JusteRaimbault/Misc.git
[submodule "UrbanMorphology"]
	path = UrbanMorphology
	url = git@github.com:JusteRaimbault/UrbanMorphology.git
[submodule "SpaceMatters"]
	path = SpaceMatters
	url = git@github.com:JusteRaimbault/SpaceMattersAll.git
[submodule "Biblio"]
	path = Biblio
	url = git@github.com:JusteRaimbault/Biblio.git
