[submodule "CircularEconomy"]
	path = CircularEconomy
	url = git@github.com:SFICSSS16-CircularEconomy/CircularEconomy.git
[submodule "Biblio/DomainSpecific"]
	path = Biblio/DomainSpecific
	url = git@github.com:JusteRaimbault/DomainSpecific.git
[submodule "CityNetwork"]
	path = NetworksTerritories/CityNetwork
	url = git@github.com:JusteRaimbault/CityNetwork.git
[submodule "EnergyPrice"]
	path = Transportation/EnergyPrice
	url = git@github.com:JusteRaimbault/EnergyPrice.git
[submodule "MediationEcotox"]
	path = Mediation/MediationEcotox
	url = git@github.com:JusteRaimbault/MediationEcotox.git
[submodule "RealEstate"]
	path = RealEstate
	url = git@github.com:JusteRaimbault/RealEstate.git
[submodule "UrbanSystems/UrbanGrowth"]
	path = UrbanSystems/UrbanGrowth
	url = git@github.com:JusteRaimbault/UrbanGrowth.git
[submodule "TransportationEquilibrium"]
	path = Transportation/TransportationEquilibrium
	url = git@github.com:JusteRaimbault/TransportationEquilibrium.git
[submodule "Governance"]
	path = Governance
	url = git@github.com:JusteRaimbault/Governance.git
[submodule "Organisation"]
	path = Organisation
	url = git@github.com:JusteRaimbault/Organisation.git
[submodule "SimulationModels"]
	path = SimulationModels
	url = git@github.com:JusteRaimbault/SimulationModels.git
[submodule "Morphogenesis"]
	path = Complexity/Morphogenesis
	url = git@github.com:JusteRaimbault/Morphogenesis.git
[submodule "Perspectivism"]
	path = QuantitativeEpistemology/Perspectivism
	url = git@github.com:JusteRaimbault/Perspectivism.git
[submodule "UrbanMorphology"]
	path = UrbanMorphology
	url = git@github.com:JusteRaimbault/UrbanMorphology.git
[submodule "SpaceMatters"]
	path = SpaceMatters
	url = git@github.com:JusteRaimbault/SpaceMattersAll.git
[submodule "Biblio"]
	path = Biblio
	url = git@github.com:JusteRaimbault/Biblio.git
[submodule "ComplexitiesIntegration"]
	path = QuantitativeEpistemology/ComplexitiesIntegration
	url = git@github.com:JusteRaimbault/ComplexitiesIntegration.git
[submodule "Conferences"]
	path = Conferences
	url = git@github.com:JusteRaimbault/Conferences.git
[submodule "NoisyEA"]
	path = NoisyEA
	url = git@github.com:JusteRaimbault/NoisyEA.git
[submodule "PatentsMining"]
	path = QuantitativeEpistemology/PatentsMining
	url = git@github.com:JusteRaimbault/PatentsMining.git
[submodule "Reviews"]
	path = Reviews
	url = git@github.com:JusteRaimbault/Reviews.git
[submodule "Schools"]
	path = Schools
	url = git@github.com:JusteRaimbault/Schools.git
[submodule "Cybergeo"]
	path = QuantitativeEpistemology/Cybergeo
	url = git@github.com:JusteRaimbault/Cybergeo.git
[submodule "HealthMobility"]
	path = HealthMobility
	url = git@github.com:JusteRaimbault/HealthMobility.git
[submodule "InnovationDiffusion"]
	path = InnovationDiffusion
	url = git@github.com:JusteRaimbault/InnovationDiffusion.git
[submodule "ReactionDiffusion"]
	path = ReactionDiffusion
	url = git@github.com:JusteRaimbault/ReactionDiffusion.git
[submodule "Softwares"]
	path = Softwares
	url = git@github.com:JusteRaimbault/Softwares.git
[submodule "CoevolutionNwTerritories"]
	path = NetworksTerritories/CoevolutionNwTerritories
	url = git@github.com:JusteRaimbault/CoevolutionNwTerritories.git
[submodule "BioNetworkGeneration"]
	path = BioNetworkGeneration
	url = git@github.com:JusteRaimbault/BioNetworkGeneration.git
[submodule "CarPooling"]
	path = Transportation/CarPooling
	url = git@github.com:JusteRaimbault/CarPooling.git
[submodule "ChinaAccessibility"]
	path = NetworksTerritories/ChinaAccessibility
	url = git@github.com:JusteRaimbault/ChinaAccessibility.git
[submodule "CityBikes"]
	path = Transportation/CityBikes
	url = git@github.com:JusteRaimbault/CityBikes.git
[submodule "Data"]
	path = Data
	url = git@github.com:JusteRaimbault/Data.git
[submodule "FilmsMining"]
	path = QuantitativeEpistemology/FilmsMining
	url = git@github.com:JusteRaimbault/FilmsMining.git
[submodule "FinancialNetwork"]
	path = FinancialNetwork
	url = git@github.com:JusteRaimbault/FinancialNetwork.git
[submodule "GenerativePoetry"]
	path = GenerativePoetry
	url = git@github.com:JusteRaimbault/GenerativePoetry.git
[submodule "LanguageEvolution"]
	path = QuantitativeEpistemology/LanguageEvolution
	url = git@github.com:JusteRaimbault/LanguageEvolution.git
[submodule "MediationIncubator"]
	path = Mediation/MediationIncubator
	url = git@github.com:JusteRaimbault/MediationIncubator.git
[submodule "MigrationDynamics"]
	path = MigrationDynamics
	url = git@github.com:JusteRaimbault/MigrationDynamics.git
[submodule "MusicEvolution"]
	path = MusicEvolution
	url = git@github.com:JusteRaimbault/MusicEvolution.git
[submodule "OrienteeringDev"]
	path = Orienteering
	url = git@github.com:orienteeringdev/orienteeringdev.git
[submodule "OptimalDistance"]
	path = OptimalDistance
	url = git@github.com:JusteRaimbault/OptimalDistance.git
[submodule "QuantEpistemo"]
	path = QuantitativeEpistemology/QuantEpistemo
	url = git@github.com:JusteRaimbault/QuantEpistemo.git
[submodule "Seminars"]
	path = Seminars
	url = git@github.com:JusteRaimbault/Seminars.git
[submodule "SocialDynamics"]
	path = SocialDynamics
	url = git@github.com:JusteRaimbault/SocialDynamics.git
[submodule "SpatialComplexity"]
	path = Complexity/SpatialComplexity
	url = git@github.com:JusteRaimbault/SpatialComplexity.git
[submodule "SpatialData"]
	path = SpatialData
	url = git@github.com:openmole/spatialdata.git
[submodule "SpatioTemporalStationarity"]
	path = SpatioTemporalStationarity
	url = git@github.com:JusteRaimbault/SpatioTemporalStationarity.git
[submodule "Teaching"]
	path = Teaching
	url = git@github.com:JusteRaimbault/Teaching.git
[submodule "Tools/TorPool"]
	path = Tools/TorPool
	url = git@github.com:JusteRaimbault/TorPool.git
[submodule "TransferEntropy"]
	path = Complexity/TransferEntropy
	url = git@github.com:JusteRaimbault/TransferEntropy.git
[submodule "TransportationNetwork"]
	path = Transportation/TransportationNetwork
	url = git@github.com:JusteRaimbault/TransportationNetwork.git
[submodule "TransportationResilience"]
	path = Transportation/TransportationResilience
	url = git@github.com:JusteRaimbault/TransportationResilience.git
[submodule "UrbanSystems/UrbanDynamics"]
	path = UrbanSystems/UrbanDynamics
	url = git@github.com:JusteRaimbault/UrbanDynamics.git
[submodule "UrbanEvolution"]
	path = UrbanSystems/UrbanEvolution
	url = git@github.com:JusteRaimbault/UrbanEvolution.git
[submodule "UrbanMorphogenesis"]
	path = UrbanMorphogenesis
	url = git@github.com:JusteRaimbault/UrbanMorphogenesis.git
[submodule "UrbanResilience"]
	path = UrbanResilience
	url = git@github.com:JusteRaimbault/UrbanResilience.git
[submodule "PowerGrid"]
	path = PowerGrid
	url = git@github.com:JusteRaimbault/PowerGrid.git
[submodule "MobilityEpidemio"]
	path = MobilityEpidemio
	url = git@github.com:JusteRaimbault/MobilityEpidemio.git
[submodule "LearningAgents"]
	path = QuantitativeEpistemology/LearningAgents
	url = git@github.com:JusteRaimbault/LearningAgents.git
[submodule "Misc"]
	path = Misc
	url = git@github.com:JusteRaimbault/Misc.git
[submodule "Mediation/MinecraftExplorer"]
	path = Mediation/MinecraftExplorer
	url = git@github.com:JusteRaimbault/MinecraftExplorer.git
[submodule "Transportation/ReportMasse"]
	path = Transportation/ReportMasse
	url = git@github.com:JusteRaimbault/ReportMasse-all.git
[submodule "Mediation/Mediation-Misc"]
	path = Mediation/Mediation-Misc
	url = git@github.com:JusteRaimbault/Mediation-Misc.git
[submodule "NetworksTerritories/LUTISystematicReview"]
	path = NetworksTerritories/LUTISystematicReview
	url = git@github.com:JusteRaimbault/LUTISystematicReview.git
[submodule "NetworksTerritories/HistoricalData"]
	path = NetworksTerritories/HistoricalData
	url = git@github.com:JusteRaimbault/HistoricalData.git
[submodule "QuantitativeEpistemology/InnovationInformal"]
	path = QuantitativeEpistemology/InnovationInformal
	url = git@github.com:JusteRaimbault/InnovationInformal.git
[submodule "OpenMole-all"]
	path = OpenMole-all
	url = git@github.com:JusteRaimbault/OpenMole-all.git
[submodule "Transportation/FourStepModel"]
	path = Transportation/FourStepModel
	url = git@github.com:JusteRaimbault/FourStepModel.git
[submodule "Transportation/PTCoverage"]
	path = Transportation/PTCoverage
	url = git@github.com:JusteRaimbault/PTCoverage.git
[submodule "SDGTradeoffs"]
	path = SDGTradeoffs
	url = git@github.com:JusteRaimbault/SDGTradeoffs.git
[submodule "SuburbanDensification"]
	path = SuburbanDensification
	url = git@github.com:JusteRaimbault/SuburbanDensification.git
[submodule "Transportation/CyclingInfrastructure"]
	path = Transportation/CyclingInfrastructure
	url = git@github.com:JusteRaimbault/CyclingInfrastructure.git
[submodule "QuantitativeEpistemology/AnalyseGeocites"]
	path = QuantitativeEpistemology/AnalyseGeocites
	url = git@github.com:JusteRaimbault/AnalyseGeocites.git
